.WMainOfferList {
  &__title {
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 1;
    color: $color-grey-text;
    margin-bottom: 9px;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #191C1F;
    &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #E6E6E6;
      display: block;
      margin-right: 12px;
    }
  }
}