.WMainOffer {
  border: 1px solid #E0E0E0;
  border-radius: $border-radius-medium;
  background-color: $color-white;
  padding: 17px 22px;
  display: flex;
  position: relative;
  &__status {
    position: absolute;
    top: 20px;
    right: 33px;
    font-size: 12px;
    font-weight: 700;
    color: #F59B5A;
    line-height: 1;
    display: flex;
    align-items: center;
    &:after {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background: #F59B5A;
      margin-left: 4px;
    }
    &--published {
      color: $color-success;
      &:after {
        background: $color-success;
      }
    }
  }
  &__tagsTitle {
    margin-bottom: 13px;
    font-size: 11px;
    line-height: 1;
    color: $color-dark;
    flex-basis: 100%;
  }
  & + & {
    margin-top: 7px;
  }
  &--matched {
    flex-basis: 50%;
    max-width: 50%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #EAEAEA;
    &:first-child {
      border-right: 1px solid #E0E0E0;
    }
  }
  &--inner {
    flex-basis: 100%;
    max-width: 100%;
    &:first-child {
      border-right: 0;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}


.WMainOffer__part {
  display: flex;
  flex-wrap: wrap;
  &--left {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid #E0E0E0;
    flex-shrink: 0;
    flex-basis: 121px;
    max-width: 121px;
    @media (max-width: 768px) {
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
      justify-content: center;
      flex-shrink: 0;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  &--right {
    flex: 1;
  }
  &--half {
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 16px;
    &:first-child {
      border-right: 1px solid #E0E0E0;
    }
  }
  &--full {
    border-top: 1px solid #E0E0E0;
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 16px;
    padding-top: 16px;
  }
  &--padded {
    padding-left: 32px;
  }
}

.WMainOffer--mirrored .WMainOffer__profile {
  order: 1;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #E0E0E0;
}

.WMainOffer + .WMainOffer.WMainOffer--mirrored {
  margin-top: 0;
}