.WMainOfferProfile {
  &__avatar {
    position: relative;
    padding-top: 20px;
  }
  &__tag {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #4AA1DD;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 600;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: $color-white;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &__credibility {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 2;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: #2F2F2F;
    text-align: center;
    > div {
      font-size: 7px;
      font-family: $font-family-secondary;
      line-height: 1;
      letter-spacing: 0.12px;
      font-weight: 600;
    }
  }
  &__content {
    padding-top: 16px;
    .WTitle {
      margin: 0;
      font-family: $font-family-main;
    }
    .WMainOfferProfile__title {
      color: #3C3C3C;
      margin: 0;
      margin-bottom: 2px;
    }
  }
  &__logo {
    margin-top: 12px;
  }
}