.WMainOfferDescription {
  &__title {
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 1;
    color: $color-grey-text;
    margin-bottom: 9px;
  }
  &__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #191C1F;
  }
  &__group {
    & + & {
      margin-top: 18px;
    }
  }
}