.WMainOfferAvatar {
  height: 104px;
  width: 104px;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #4AA1DD 50%, transparent 50%), linear-gradient(21deg, #4AA1DD 50%, $color-white 50%)
  }
  img {
    object-fit: cover;
    width: 94px;
    height: 94px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }
}