// Default colors

$color-red: red;
$color-grey: #00000029;
$color-white: #FFFFFF;
$color-grey-light: #8B959E;
$color-grey-text: #939CA4;
$color-dark: #3C3C3C;

// Primary colors

$color-blue: #1592E6;
$color-blue-darker: #0059AD;
$color-blue-text: #2E77BD;
$color-blue-bg: #1982CB;
$color-grey-bg: #F5F5F5;
$color-success: #52B989;

// Box shadows

$box-shadow-default: 0px 3px 6px $color-grey;