.WAvatar {
  border-radius: 100%;
  img {
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }
  span {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background: whitesmoke;
    font-size: 1em;
    cursor: pointer;
  }
}