.WButton {
  font-size: 18px;
  line-height: 1;
  box-shadow: $box-shadow-default;
  border-radius: $border-radius-default;
  text-decoration: none;
  outline: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: $color-white;
  background: #BDC2C6;
  &:hover {
    background-color: #A5A7A8;
  }
  &:active {
    background-color: darken(#BDC2C6, 5%);
  }
  &--outlined {
    background: transparent;
    border: 1.2px solid #BDC2C6;
    color: #000;
  }
  &--loading {
    pointer-events: none;
    animation: pulse 0.8s infinite;
  }
  &--block {
    display: flex;
    width: 100%;
  }
  &--large {
    padding: 0 62px;
    height: 56px;
  }
  &--medium {
    padding: 0 50px;
    height: 47px;
  }
  &--small {
    padding: 0 20px;
    height: 35px;
    font-size: 14px;
  }
  &--primary {
    background-color: $color-blue;
    color: $color-white;
    &:hover {
      background-color: darken($color-blue, 3%);
    }
    &:active {
      background-color: darken($color-blue, 5%);
    }
    &.WButton--outlined {
      background: transparent;
      border: 1.2px solid $color-blue;
      color: $color-blue;
      &:hover {
        background-color: $color-blue;
        color: $color-white;
      }
      &:active {
        background-color: darken($color-blue, 5%);
        color: $color-white;
      }
    }
  }
  &--success {
    background-color: $color-success;
    color: $color-white;
    &:hover {
      background-color: darken($color-success, 3%);
    }
    &:active {
      background-color: darken($color-success, 5%);
    }
    &.WButton--outlined {
      background: transparent;
      border: 1.2px solid $color-success;
      color: $color-success;
      &:hover {
        background-color: $color-success;
        color: $color-white;
      }
      &:active {
        background-color: darken($color-success, 5%);
        color: $color-white;
      }
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-blue-text;
    &:hover {
      background-color: darken($color-white, 3%);
    }
    &:active {
      background-color: darken($color-white, 5%);
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}