.WSocialList {
  display: flex;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    .WIcon {
      color: #fff;
    }
    & + & {
      margin-left: 17px;
    }
  }
}