.WTable {
  &__table {
    width: 100%; 
    border-collapse: collapse;
  }
  &__headerCell,
  &__cell {
    border: 1px solid #E0E0E0; 
    text-align: left;
    padding: 7px 14px;
    font-size: 14px;
    line-height: 1;
    color: #3C3C3C;
  }
  &__headerCell {
    font-weight: 700;
  }
  &__cell {
    padding: 23px 14px 16px 14px;
  }
}
