.WTextField {
  margin-bottom: 8px;
  &__input {
    width: 100%;
    height: 34px;
    padding: 0 12px;
    font-size: 12px;
    color: #333;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    &::placeholder {
      color: #D1D1D1;
      opacity: 1;
    }
    
    &:-ms-input-placeholder {
      color: #D1D1D1;
    }
    
    &::-ms-input-placeholder {
      color: #D1D1D1;
    }
  }
}
