// Typography

@import './typograhy';

// General styles

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-main;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.WPage {
  padding: 36px 0;
  min-height: calc(100vh - (70px + 231px));
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--np {
    padding: 0;
  }
}

.container {
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.WBox {
  padding: 2rem;
  background: #fff;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  & + & {
    margin-top: 18px;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 18px;
    color: #3C3C3C;
  }
}

.xs-hidden {
  @media only screen and (max-width: 47em) {
    display: none;
  }
}

// Globals

.bg-grey {
  background: $color-grey-bg;
}