// Titles

.WTitle {
  font-family: $font-family-secondary;
  font-weight: 600;
  color: #333;
  &--1 {
    font-size: 12px;
    line-height: 24px;
  }
  &--2 {
    font-size: 30px;
    line-height: 40px;
  }
  &--3 {
    font-size: 20px;
    line-height: 40px;
  }
  &--4 {
    font-size: 13px;
    line-height: 14px;
  }
}

h1 {
  @extend .WTitle;
}

h2 {
  @extend .WTitle--2;
}

h3 {
  @extend .WTitle--3;
}

h4 {
  @extend .WTitle--4;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

// Text

.WParagraph,
p,
ul {
  font-size: 14px;
  line-height: 25px;
  color: $color-grey-light;
  font-family: $font-family-secondary;
}

// General

.text-center {
  text-align: center;
}

.text-regular {
  font-weight: 400;
}

.text-white {
  color: $color-white;
}

.text-grey {
  color: $color-grey-text;
}
