<template>
  <div class="WMatchedOffer">
    <div class="WMatchedOffer__offers">
      <WMainOffer
        :offer="matches[0]"
        matched
      />
      <WMainOffer
        v-if="!inner"
        :offer="matches[1]"
        matched
        mirrored
      />
    </div>
    <div :class="['WMatchedOffer__bottom', { 'WMatchedOffer__bottom--end': saved || partnerships || inner }]">
      <WButton
        v-if="!saved && !partnerships && !inner"
        outlined
        type="success"
        @click.native="$emit('selected')"
      >
        Looks interesting ❤
      </WButton>
      <WButton
        v-if="!saved && !partnerships && !inner"
        outlined
        type="secondary"
        @click.native="$emit('dismissed')"
      >
        Not for me
      </WButton>
      <WButton
        v-if="saved && !partnerships"
        outlined
        type="primary"
        @click.native="$emit('selected')"
      >
        Check offer
      </WButton>
      <WButton
        v-if="saved && !partnerships && !inner"
        type="primary"
        @click.native="$emit('selected')"
      >
        Unlock offer
      </WButton>
      <WButton
        v-if="partnerships && !inner"
        type="primary"
      >
        Contact
      </WButton>
      <WButton
        v-if="(saved || partnerships) && !inner"
        type="secondary"
        @click.native="$emit('delete')"
      >
        Delete
      </WButton>
      <WButton
        v-if="inner"
        type="secondary"
        @click.native="$emit('delete')"
      >
        Edit
      </WButton>
    </div>
  </div>
</template>

<script>
import WButton from '@/components/ui/WButton'
import WMainOffer from '@/components/WMainOffer/WMainOffer'
export default {
  name: 'WMatchedOffer',
  components: {
    WMainOffer,
    WButton
  },
  props: {
    saved: {
      type: Boolean,
      default: false
    },
    partnerships: {
      type: Boolean,
      default: false
    },
    inner: {
      type: Boolean,
      default: false
    },
    matches: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
  .WMatchedOffer {
    border: 1px solid #E0E0E0;
    border-radius: $border-radius-medium;
    background-color: $color-white;
    &__offers {
      display: flex;
      padding: 12px 0;
    }
    &__bottom {
      padding: 48px 16px 60px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .WButton + .WButton {
        margin-left: 9px;
      }
      &--end {
        justify-content: flex-end;
        padding: 17px;
      }
    }
    & + & {
      margin-top: 16px;
    }
  }
</style>
