<template>
  <div class="WMatchedOffers">
    <div v-if="saved && !partnerships && !inner" class="WMatchedOffers__saved">
      <span>{{ offers.length }}</span>saved for later
    </div>
    <div v-else-if="!saved && !partnerships && !inner" class="WMatchedOffers__title">
      There are <span>{{ offers.length }}</span> matching offers. To see more offers click INTERESTED or NOT INTERESTED
    </div>
    <WMatchedOffer
      v-for="(offer, index) in offers"
      :key="index"
      :matches="offer.offers"
      :saved="saved"
      :partnerships="partnerships"
      :inner="inner"
      @selected="$emit('selected', index)"
      @dismissed="$emit('dismissed', index)"
      @delete="$emit('delete', index)"
    />
  </div>
</template>

<script>
import WMatchedOffer from '@/components/WMatchedOffer/WMatchedOffer'
export default {
  name: 'WMatchedOffers',
  props: {
    saved: {
      type: Boolean,
      default: false
    },
    inner: {
      type: Boolean,
      default: false
    },
    partnerships: {
      type: Boolean,
      default: false
    },
    offers: {
      type: Array,
      default: () => []
    }
  },
  components: {
    WMatchedOffer
  }
}
</script>

<style lang="scss" scoped>
  .WMatchedOffers {
    &__saved {
      background: $color-success;
      color: $color-white;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      padding: 0 20px;
      height: 38px;
      display: flex;
      align-items: center;
      border-radius: 3px;
      margin-bottom: 14px;
      span {
        font-size: 25px;
        margin-right: 8px;
        line-height: 1;
      }
    }
    &__title {
      margin-top: 15px;
      margin-bottom: 27px;
      text-align: center;
      font-weight: 700;
      color: #000;
      font-size: 15px;
      line-height: 1;
      span {
        font-size: 30px;
      }
    }
    & + & {
      margin-top: 55px;
    }
  }
</style>
