<template>
  <div class="WWizard">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <WWizardSteps
          :steps="steps"
          :active-step="activeStep"
          @stepChange="handleStepChange"
        />
      </div>
      <div :class="[
        'col-xs-12',
        { 'col-sm-7': activeStep > 2 },
        { 'col-sm-9': activeStep <= 2 }
      ]">
        <keep-alive>
          <WWizardContent
            :active-step="activeStep"
            :total-steps="steps.length"
            @nextStep="handleNextStep"
          >
            <!-- STEP 1 -->
            <div
              v-if="activeStep === 1"
              class="WWizardContent__step"
            >
              <div class="WWizardContent__stepInner">
                <div class="WWizardContent__title">
                  What is your main product or service you sell?
                </div>
                <div class="WWizardContent__form">
                  <WWizardTextfield
                    v-model="steps[0].productName"
                    placeholder="Product name"
                  />
                  <WWizardTextfield
                    v-model="steps[0].website"
                    placeholder="Link to your website"
                  />
                </div>
              </div>
            </div>
            <!-- STEP 2 -->
            <div
              v-if="activeStep === 2"
              class="WWizardContent__step"
            >
              <div class="WWizardContent__stepInner">
                <div class="WWizardContent__title">
                  What would you like to get?
                </div>
                <div class="WWizardContent__form">
                  <WWizardTags
                    v-model="steps[1].selectedTags"
                    :tags="stepTwoTags"
                  />
                  <WWizardTextfield
                    v-model="steps[1].additional"
                    placeholder="Write here if it's not on Your list"
                  />
                </div>
              </div>
            </div>
            <!-- STEP 3 -->
            <div
              v-if="activeStep === 3"
              class="WWizardContent__step"
            >
              <div class="WWizardContent__stepInner">
                <div class="WWizardContent__title">
                  Who are your customers?
                </div>
                <WWizardTags
                  v-model="steps[2].selectedTags"
                  :tags="stepThreeTags"
                />
                <div class="WWizardContent__form">
                  <WWizardTextfield
                    v-model="steps[2].additional"
                    placeholder="Write here if it's not on Your list"
                  />
                </div>
              </div>
            </div>
            <!-- STEP 4 -->
            <div
              v-show="activeStep === 4"
              class="WWizardContent__step WWizardContent__step--full"
            >
              <div class="WWizardContent__stepInner">
                <div class="WWizardContent__title">
                  What can you offer in exchange?
                </div>
                <div class="WWizardContent__form">
                  <div class="WWizardContent__group">
                    <div class="WWizardContent__formTitle">
                      Your product or service
                    </div>
                    <div class="WWizardContent__product">
                      <div class="row">
                        <div class="col-xs-6 col-sm-9">
                          <div class="WWizardContent__productName">
                            {{ steps[0].productName }}
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                          <WWizardInput
                            v-model="productPrice"
                            append="$"
                            full
                          />
                        </div>
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Affiliate commission"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="commission"
                        append="$"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="commission"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Discount"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="discount"
                        append="%"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="discount"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Gifts"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="gifts"
                        append="unit"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="gifts"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="WWizardContent__group">
                    <div class="WWizardContent__formTitle">
                      Channels
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Website traffic"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="webTraffic"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="webTraffic"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Email subscribers"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="emailSubscribers"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="emailSubscribers"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Followers"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="followers"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="followers"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Store traffic"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="storeTraffic"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="storeTraffic"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="WWizardContent__group">
                    <div class="WWizardContent__formTitle">
                      Funds
                    </div>
                    <div class="WWizardSlider">
                      <WWizardInputTitle
                        title="Marketing budget"
                        tooltip="Lorem ipsum dolor sit amet isarium dolorosimo!"
                      />
                      <WWizardInput
                        v-model="marketingBudget"
                      />
                      <div class="WWizardSlider__wrap">
                        <VueSlider
                          v-model="marketingBudget"
                          :min="100"
                          :max="10000"
                          :interval="100"
                          :contained="true"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="WWizardContent__group">
                    <div class="WWizardContent__formTitle">
                      Describe your content
                    </div>
                    <WTextarea
                      v-model="contentDescription"
                    />
                    <div>
                      <WCheckbox v-model="consentContent">
                        I provide new content
                      </WCheckbox>
                    </div>
                    <div>
                      <WCheckbox v-model="consentCustomize">
                        I can customize already published content
                      </WCheckbox>
                    </div>
                  </div>
                  <div class="WWizardContent__group">
                    <div class="WWizardContent__formTitle">
                      Forms of content
                    </div>
                    <WWizardTags
                      v-model="selectedContent"
                      :tags="formsOfContent"
                    />
                  </div>
                </div>
              </div>
            </div>
          </WWizardContent>
        </keep-alive>
      </div>
      <div
        v-if="activeStep > 2"
        class="col-xs-12 col-sm-2"
      >
        <WDemoOffers
          :offers="activeStep === 3 ? demoOffers : demoOffersTwo"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import WWizardTextfield from '@/components/WWizard/WWizardTextfield'
import 'vue-slider-component/theme/default.css'
const WWizardSteps = () => import('@/components/WWizard/WWizardSteps.vue')
const WWizardContent = () => import('@/components/WWizard/WWizardContent.vue')
const WWizardTags = () => import('@/components/WWizard/WWizardTags.vue')
const WWizardInput = () => import('@/components/WWizard/WWizardInput.vue')
const WWizardInputTitle = () => import('@/components/WWizard/WWizardInputTitle.vue')
const WDemoOffers = () => import('@/components/WDemoOffer/WDemoOffers.vue')
const WTextarea = () => import('@/components/ui/WTextarea.vue')
const WCheckbox = () => import('@/components/ui/WCheckbox.vue')
const VueSlider = () => import('vue-slider-component')
export default {
  name: 'WWizard',
  components: {
    VueSlider,
    WWizardSteps,
    WWizardContent,
    WWizardTextfield,
    WWizardTags,
    WWizardInput,
    WWizardInputTitle,
    WTextarea,
    WCheckbox,
    WDemoOffers
  },
  data () {
    return {
      consentContent: false,
      consentCustomize: false,
      contentDescription: '',
      productPrice: 1000,
      commission: 150,
      discount: 150,
      gifts: 150,
      webTraffic: 150,
      emailSubscribers: 150,
      followers: 150,
      storeTraffic: 150,
      marketingBudget: 150,
      stepTwoTags: [
        {
          title: 'Valuable content',
          slug: 'valuableContent'
        },
        {
          title: 'Sponsorship',
          slug: 'sponsorship'
        },
        {
          title: 'Brand exposure',
          slug: 'brandExposure'
        },
        {
          title: 'Charity',
          slug: 'charity'
        },
        {
          title: 'Lead Magnet',
          slug: 'leadMagnet'
        },
        {
          title: 'Affiliate Commition',
          slug: 'affiliateComission'
        },
        {
          title: 'Promotions',
          slug: 'jointPromotion'
        },
        {
          title: 'Testimonial',
          slug: 'testimonialOrCaseStudy'
        },
        {
          title: 'Discount',
          slug: 'exclusiveDiscount'
        },
        {
          title: 'Gifts',
          slug: 'giftsAndPrizes'
        }
      ],
      stepThreeTags: [
        {
          title: 'Valuable content'
        },
        {
          title: 'Startups'
        },
        {
          title: 'Ecommerce'
        },
        {
          title: 'Small businesses'
        },
        {
          title: 'Marketing strategy'
        },
        {
          title: 'Marketing plan'
        },
        {
          title: 'Growth'
        },
        {
          title: 'Digital product'
        },
        {
          title: 'Social Media Marketing'
        }
      ],
      activeStep: 1,
      steps: [
        {
          title: 'Your product or service',
          productName: '',
          website: ''
        },
        {
          title: 'Your want to get',
          additional: '',
          selectedTags: []
        },
        {
          title: 'Your target customers',
          additional: '',
          selectedTags: []
        },
        {
          title: 'What can you offer in exchange'
        }
      ],
      formsOfContent: [
        {
          title: 'Posts',
          slug: 'articlesPosts'
        },
        {
          title: 'Videos',
          slug: 'videoEpisodes'
        },
        {
          title: 'Podcast',
          slug: 'podcasts'
        },
        {
          title: 'Virtual',
          slug: 'virtualSummit'
        },
        {
          title: 'Live',
          slug: 'liveSpeaking'
        },
        {
          title: 'Course',
          slug: 'videoCourse'
        },
        {
          title: 'Summit',
          slug: 'virtualSummit'
        },
        {
          title: 'Webinar',
          slug: 'webinarSpeaker'
        }
      ],
      selectedContent: [],
      demoOffers: [
        {
          photo: 'https://randomuser.me/api/portraits/men/52.jpg',
          title: 'Marketing consultation (1 hour) x 10',
          value: '1.000',
          tag: 'PRO'
        },
        {
          photo: 'https://randomuser.me/api/portraits/men/51.jpg',
          title: 'SAAS UX review session (1 hour) x 10',
          value: '2.500',
          tag: 'PRO'
        }
      ],
      demoOffersTwo: [
        {
          photo: 'https://randomuser.me/api/portraits/men/63.jpg',
          title: 'Lead management tool',
          value: '2.800',
          tag: 'PRO'
        },
        {
          photo: 'https://randomuser.me/api/portraits/women/63.jpg',
          title: 'Exposure – guest speaker, article',
          value: '60.000',
          tag: 'PRO'
        },
        {
          photo: 'https://randomuser.me/api/portraits/women/57.jpg',
          title: 'Beauty Business Coach',
          value: '3.000',
          tag: 'PRO'
        },
        {
          photo: 'https://randomuser.me/api/portraits/men/52.jpg',
          title: 'Marketing consultation (1 hour) x 10',
          value: '1.000',
          tag: 'PRO'
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      getWizardOffers: 'matches/fetchWizardOffers'
    }),
    updateStepThreeTags (tags) {
      this.steps[2].selectedTags = tags
    },
    updateStepTwoTags (tags) {
      this.steps[1].selectedTags = tags
    },
    handleNextStep () {
      if (this.activeStep !== this.steps.length) {
        this.activeStep++
      } else {
        this.handleWizardFinished()
      }
    },
    handleWizardFinished () {
      const payload = {
        lookingFor: {
          valuableContent: {
            checked: false,
            description: ''
          },
          giftsAndPrizes: {
            checked: false,
            description: ''
          },
          exclusiveDiscount: {
            checked: false,
            description: ''
          },
          leadMagnet: {
            checked: false,
            description: ''
          },
          charity: {
            checked: false,
            description: ''
          },
          brandExposure: {
            checked: false,
            description: ''
          },
          testimonialOrCaseStudy: {
            checked: false,
            description: ''
          },
          affiliateComission: {
            checked: false,
            description: ''
          },
          jointPromotion: {
            checked: false,
            description: ''
          },
          sponsorship: {
            checked: false,
            description: ''
          },
          other: {
            checked: false,
            description: ''
          }
        },
        products: [
          {
            name: 'sample1',
            description: 'sample1',
            landingPage: 'www.sample.com',
            price: 60,
            affiliateCommission: 0,
            discount: 0,
            gifts: 10,
            marketingBudget: 500,
            totalGiftsValue: 600,
            totalValue: 600,
            visible: true
          }
        ],
        customers: {
          tags: [],
          matchingTagsNumber: 0
        },
        valuableContent: [
          {
            articlesPosts: false,
            videoEpisodes: false,
            podcasts: false,
            videoCourse: false,
            emailCourse: false,
            audioCourse: false,
            virtualSummit: false,
            webinarSpeaker: false,
            liveSpeaking: false,
            other: false,
            linkYourContent: '',
            uniqueContent: false,
            customiseContent: false
          }
        ],
        audienceAndChannels: {
          isFilled: true,
          websiteTraffic: {
            min: 500,
            max: 500,
            value: 500
          },
          emailSubscribers: {
            min: 0,
            max: 0,
            value: 0
          },
          socialNetwork: {
            min: 0,
            max: 0,
            value: 0
          },
          inStoreTraffic: {
            min: 0,
            max: 0,
            value: 0
          },
          sizeOfSalesTeam: {
            min: 0,
            max: 0,
            value: 0
          },
          eventAttendees: {
            min: 0,
            max: 0,
            value: 0
          },
          other: ''
        }
      }

      // Set looking for
      for (const property in payload.lookingFor) {
        this.steps[1].selectedTags.forEach((item) => {
          if (item.slug === property) {
            payload.lookingFor[property].checked = true
          }
        })
      }
      // Set product info
      payload.products[0].name = this.steps[0].productName
      payload.products[0].landingPage = this.steps[0].website
      payload.products[0].description = this.contentDescription
      payload.products[0].price = Number(this.productPrice)
      payload.products[0].affiliateCommission = this.commission
      payload.products[0].discount = this.discount
      payload.products[0].gifts = this.gifts
      payload.products[0].marketingBudget = this.marketingBudget
      // Set customers info
      payload.customers.matchingTagsNumber = this.steps[2].selectedTags.length
      payload.customers.tags = this.steps[2].selectedTags.map(item => item.title)
      // Set Types of content
      this.selectedContent.forEach((item) => {
        payload.valuableContent[0][item.slug] = true
      })
      // Set audienceAndChannels
      payload.audienceAndChannels.emailSubscribers.value = this.emailSubscribers
      payload.audienceAndChannels.websiteTraffic.value = this.webTraffic
      payload.audienceAndChannels.socialNetwork.value = this.followers
      payload.audienceAndChannels.inStoreTraffic.value = this.storeTraffic
      // Set consents
      payload.valuableContent[0].uniqueContent = this.consentContent
      payload.valuableContent[0].customiseContent = this.consentCustomize
      // Log payload
      console.log(payload)
      this.$store.commit('matches/SET_WIZARD_DATA', payload)
      this.$store.commit('matches/SET_WIZARD_COMPLETE', true)
      this.$store.dispatch('matches/fetchWizardOffers')
        .then(() => {
          this.$router.push({ path: '/offers' })
        })
        .catch((error) => {
          console.log(error)
        })
    },
    handleStepChange (step) {
      this.activeStep = step
    },
    resetWizard () {
      this.activeStep = 1
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizard';
</style>
