<template>
  <div class="WWizardContent">
    <div class="WWizardContent__main">
      <slot />
    </div>
    <div class="WWizardContent__bottom">
      <WButton
        @click.native="$emit('nextStep')"
      >
        {{ activeStep === totalSteps ? 'Finish' : 'Continue'}}
      </WButton>
    </div>
  </div>
</template>

<script>
import WButton from '@/components/ui/WButton'
export default {
  name: 'WWizardContent',
  props: {
    activeStep: {
      type: [String, Number],
      default: 1
    },
    totalSteps: {
      type: [String, Number],
      default: 1
    }
  },
  components: {
    WButton
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardContent';
</style>
