<template>
  <div class="WWizardInputTitle">
    <div class="WWizardInputTitle__text">
      {{ title }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardInputTitle';
</style>
