<template>
  <div class="WWizardSteps">
    <WWizardStep
      v-for="(step, index) in steps"
      :key="index"
      :title="step.title"
      :active="activeStep === index + 1"
      :disabled="activeStep < index + 1"
      :step-tags="step.selectedTags"
      :step-text="step.productName"
      @click.native="handleStepChange(index + 1)"
    />
  </div>
</template>

<script>
import WWizardStep from './WWizardStep'
export default {
  name: 'WWizardSteps',
  props: {
    steps: {
      type: Array,
      default: () => []
    },
    activeStep: {
      type: [String, Number],
      default: 1
    }
  },
  components: {
    WWizardStep
  },
  methods: {
    handleStepChange (step) {
      if (step < this.activeStep) {
        this.$emit('stepChange', step)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardSteps';
</style>
