<template>
  <div class="WWizardTags">
    <label
      v-for="(tag, i) of tags"
      :key="i"
      class="WWizardTags__col"
    >
      <input
        v-model="selectedTags"
        :id="tag.title"
        :value="tag"
        type="checkbox"
        @change="onChange"
        class="WWizardTags__checkbox"
      >
      <span
        :class="[
          'WWizardTags__tag',
          { 'WWizardTags__tag--active': selectedTags.includes(tag) }
        ]"
      >
        {{ tag.title }}
      </span>
    </label>
  </div>
</template>

<script>
export default {
  name: 'WWizardTags',
  props: {
    tags: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      selectedTags: []
    }
  },
  methods: {
    onChange () {
      this.$emit('input', this.selectedTags)
    }
  },
  created () {
    if (this.value.length > 0) {
      this.selectedTags = this.value
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardTags';
</style>
