<template>
  <div :class="
    [
      'WWizardInput',
      { 'WWizardInput--full': full }
    ]
  ">
    <input
      type="text"
      :value="value"
      class="WWizardInput__input"
      @input="$emit('input', $event.target.value)"
    >
    <span
      v-if="append"
      class="WWizardInput__append"
    >
      {{ append }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'WWizardInput',
  props: {
    value: {
      type: [Number, String],
      default: ''
    },
    append: {
      type: String,
      default: ''
    },
    full: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardInput';
</style>
