<template>
  <div
    :class="[
      'WWizardStep',
      { 'WWizardStep--active': active },
      { 'WWizardStep--disabled': disabled }
    ]"
  >
    <div class="WWizardStep__title">
      {{ title }}
    </div>
    <div class="WWizardStep__extra">
      <div
        v-if="stepText"
        class="WWizardStep__subtitle"
      >
        {{ stepText }}
      </div>
      <WTags
        v-if="stepTags && stepTags.length > 0"
        :items="stepTags"
        no-route
        small
      />
    </div>
  </div>
</template>

<script>
const WTags = () => import('@/components/ui/WTags/WTags.vue')
export default {
  name: 'WWizardStep',
  props: {
    active: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    stepText: {
      type: String,
      default: ''
    },
    stepTags: {
      type: Array,
      default: () => []
    }
  },
  components: {
    WTags
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardStep';
</style>
