<template>
  <div class="WWizardTextfield">
    <input
      :type="type"
      :placeholder="placeholder"
      :value="value"
      class="WWizardTextfield__input"
      @input="$emit('input', $event.target.value)"
    >
  </div>
</template>

<script>
export default {
  name: 'WWizardTextfield',
  props: {
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WWizard/WWizardTextfield';
</style>
