<template>
  <ul class="WSidebarMenu">
    <li
      v-for="(item, index) in sidebarItems"
      :key="index"
      class="WSidebarMenu__item"
    >
      <router-link
        :to="item.route"
        class="WSidebarMenu__anchor"
      >
        <span class="WSidebarMenu__icon">
          <img
            :src="require(`@/assets/img/icons/${item.icon}.png`)"
            :srcset="`${require(`@/assets/img/icons/${item.icon}.png`)} 1x, ${require(`@/assets/img/icons/${item.icon}@2x.png`)} 2x`"
            :alt="item.title"
            class="WSidebarMenu__img"
          >
        </span>
        <span class="WSidebarMenu__text">
          {{ item.title }}
        </span>
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'WSidebarBottom',
  data () {
    return {
      sidebarItems: [
        {
          icon: 'matches2',
          title: 'Matches',
          route: '/matches'
        },
        {
          icon: 'my_offers',
          title: 'My Offers',
          route: '/offers'
        },
        {
          icon: 'partanership',
          title: 'Partnerships',
          route: '/partnerships'
        },
        {
          icon: 'settings',
          title: 'Settings',
          route: '/settings'
        },
        {
          icon: 'profile',
          title: 'Profile',
          route: '/profile'
        },
        {
          icon: 'wllet',
          title: 'Wallet',
          route: '/wallet'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WSidebar/WSidebarMenu';
</style>
