<template>
  <div class="WSidebarProfile">
    <div class="WSidebarProfile__avatar">
      <div
        v-if="credibility"
        class="WSidebarProfile__credibility"
      >
        {{ credibility }}
        <div>
          credibility
        </div>
      </div>
      <WSidebarProfileAvatar
        v-if="photo"
        :src="photo"
        :tag="tag"
      />
    </div>
    <div class="WSidebarProfile__content">
      <h2
        v-if="title"
        class="WTitle WTitle--4 WSidebarProfile__title"
      >
        {{ title }}
      </h2>
      <h3
        v-if="subtitle"
        class="WTitle WTitle--4 text-grey text-regular"
      >
        {{ subtitle }}
      </h3>
    </div>
  </div>
</template>

<script>
import WSidebarProfileAvatar from './WSidebarProfileAvatar'
export default {
  name: 'WSidebarProfile',
  props: {
    credibility: {
      type: String,
      default: '90%'
    },
    photo: {
      type: String,
      default: ''
    },
    tag: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    logo: {
      type: String,
      default: ''
    }
  },
  components: {
    WSidebarProfileAvatar
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WSidebar/WSidebarProfile';
</style>
