<template functional>
  <div class="WSidebarProfileAvatar">
    <img
      :src="props.src"
      :alt="props.alt"
      loading="lazy"
      height="71px"
      width="71px"
    >
    <div
      v-if="props.tag"
      class="WSidebarProfileAvatar__tag"
    >
      {{ props.tag }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'WSidebarProfileAvatar'
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WSidebar/WSidebarProfileAvatar';
</style>
