<template>
  <div class="WSidebar">
    <WSidebarProfile
      :credibility="profile.credibility"
      :photo="profile.photo"
      :tag="profile.tag"
      :title="profile.name"
      :subtitle="profile.position"
      :logo="profile.logo"
    />
    <WSidebarMenu />
    <WSidebarBottom />
  </div>
</template>

<script>
import WSidebarProfile from './WSidebarProfile'
import WSidebarMenu from './WSidebarMenu'
import WSidebarBottom from './WSidebarBottom'
export default {
  name: 'WSidebar',
  components: {
    WSidebarProfile,
    WSidebarMenu,
    WSidebarBottom
  },
  data () {
    return {
      profile: {
        name: 'Sarah Busseti',
        photo: 'https://randomuser.me/api/portraits/women/63.jpg',
        position: 'Editor in Chief',
        tag: 'PRO',
        credibility: '85%'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WSidebar/WSidebar';
</style>
