<template>
  <div class="WSidebarBottom">
    <div class="WSidebarBottom__title">
      Useful tip
    </div>
    <div class="WSidebarBottom__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc vita.
    </div>
    <WButton
      type="secondary"
      size="small"
    >
      Check it
    </WButton>
  </div>
</template>

<script>
import WButton from '@/components/ui/WButton'
export default {
  name: 'WSidebarBottom',
  components: {
    WButton
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WSidebar/WSidebarBottom';
</style>
