<template>
  <header
    class="WHero"
  >
    <div class="container">
      <div class="row middle-xs">
        <div class="col-xs-12 col-sm-12 col-md-5">
          <h1 class="WTitle WTitle--2">
            {{ title }}
          </h1>
          <p class="WParagraph">
            {{ text }}
          </p>
          <WButton
            v-if="buttonText"
            @click.native="$store.dispatch('auth/loginLinkedIn')"
          >
            {{ buttonText }}
          </WButton>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
          <WVideoEmbed />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import WVideoEmbed from '@/components/ui/WVideoEmbed'
const WButton = () => import('@/components/ui/WButton.vue')
export default {
  name: 'WHero',
  props: {
    /**
     * Title of hero component
    */
    title: {
      type: String,
      default: ''
    },
    /**
     * Text paragraph for hero component
    */
    text: {
      type: String,
      default: ''
    },
    /**
     * Text of the button
    */
    buttonText: {
      type: String,
      default: ''
    },
    /**
     * Route of the button
    */
    buttonRoute: {
      type: String,
      default: ''
    },
    /**
     * Click even of the button
    */
    buttonClick: {
      type: Function,
      default: () => ''
    }
  },
  components: {
    WVideoEmbed,
    WButton
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/layout/WHero';
</style>
