<template>
  <div class="WNavbar">
    <div class="container">
      <div class="WNavbar__left">
        <WLogo />
      </div>
      <div class="WNAvbar__right">
        <transition name="fade" mode="out-in">
          <WButton
            v-if="!isAuthenticated"
            size="small"
            @click.native="loginLinkedIn"
            :loading="isAuthLoading"
          >
            Connect with LinkedIn
          </WButton>
          <WDropdown :position="'right'" v-else>
            <template
              v-slot:trigger
            >
              <WAvatar
                :title="userProfile.name"
              />
            </template>
            <template
              v-slot:default
            >
              <WButton
                @click.native="logout"
                size="small"
              >
                Logout
              </WButton>
            </template>
          </WDropdown>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import WLogo from '@/components/ui/WLogo'
import { mapActions, mapGetters } from 'vuex'
const WButton = () => import('@/components/ui/WButton.vue')
const WAvatar = () => import('@/components/ui/WAvatar.vue')
const WDropdown = () => import('@/components/ui/WDropdown.vue')
export default {
  name: 'WNavbar',
  components: {
    WLogo,
    WButton,
    WAvatar,
    WDropdown
  },
  methods: {
    ...mapActions({
      loginLinkedIn: 'auth/loginLinkedIn',
      logout: 'auth/logout'
    })
  },
  computed: {
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
      isAuthLoading: 'auth/isLoading',
      userProfile: 'auth/getUserProfile'
    })
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/layout/WNavbar';

// Animation

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
