<template>
  <section class="WSection text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <h2 class="WTitle WTitle--2 text-white">
            {{ title }}
          </h2>
          <p class="WParagraph text-white">
            {{ text }}
          </p>
          <WButton
            v-if="buttonText"
            type="white"
            @click.native="$store.dispatch('auth/loginLinkedIn')"
          >
            {{ buttonText }}
          </WButton>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
const WButton = () => import('@/components/ui/WButton.vue')
export default {
  name: 'WSection',
  props: {
    /**
     * Title of hero component
    */
    title: {
      type: String,
      default: ''
    },
    /**
     * Text paragraph for hero component
    */
    text: {
      type: String,
      default: ''
    },
    /**
     * Text of the button
    */
    buttonText: {
      type: String,
      default: ''
    },
    /**
     * Route of the button
    */
    buttonRoute: {
      type: String,
      default: ''
    },
    /**
     * Click even of the button
    */
    buttonClick: {
      type: Function,
      default: () => ''
    }
  },
  components: {
    WButton
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/layout/WSection';
</style>
