$navbarHeight: 70px;

.WNavbar {
  background: $color-white;
  height: $navbarHeight;
  box-shadow: $box-shadow-default;
  .container,
  .row {
    height: 100%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}