<template>
  <div class="WPage WPage--np">
    <!-- Hero -->
    <WHero
      v-if="hero"
      :title="hero.title"
      :text="hero.description"
      :button-text="hero.buttonText"
      :button-click="loginLinkedIn"
    />
    <!-- Text Section -->
    <WSection
      v-if="section"
      :title="section.title"
      :text="section.desciption"
      :button-text="section.buttonText"
      :button-click="loginLinkedIn"
    />
    <!-- WMainOffers -->
    <WMainOffers
      :offers="offers"
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import WHero from '@/components/layout/WHero'
import WSection from '@/components/layout/WSection'
import Repositories from '@/repositories/repositoryFactory'
const $generalRepository = Repositories.get('general')
const WMainOffers = () => import('@/components/WMainOffer/WMainOffers.vue')
export default {
  name: 'Home',
  components: {
    WHero,
    WSection,
    WMainOffers
  },
  data () {
    return {
      hero: {},
      section: {},
      offers: [
        {
          name: 'Josh Yandell',
          photo: 'https://randomuser.me/api/portraits/men/51.jpg',
          position: 'UX designer',
          title: 'SAAS UX review session (1 hour) x 10',
          value: '1.000',
          tag: 'PRO',
          interests: [
            'Exposure',
            'Case studies',
            'Joint promotions'
          ],
          tags: [
            {
              slug: 'startups',
              title: 'Startups',
              highlighted: true
            },
            {
              slug: 'digital-marketing',
              title: 'Digital marketing',
              highlighted: true
            },
            {
              slug: 'saas',
              title: 'SAAS'
            },
            {
              slug: 'web-platform',
              title: 'Web platform'
            },
            {
              slug: 'web-developers',
              title: 'Web developers'
            }
          ],
          credibility: '90%'
        },
        {
          name: 'Fernando',
          photo: 'https://randomuser.me/api/portraits/men/63.jpg',
          position: 'Entrepreneur',
          title: 'Lead management tool',
          value: '2.800',
          tag: '',
          interests: [
            'Exposure',
            'Joint promotions'
          ],
          tags: [
            {
              slug: 'digital-marketing',
              title: 'Digital marketing',
              highlighted: true
            },
            {
              slug: 'lead-magnets',
              title: 'Lead magnets',
              highlighted: true
            },
            {
              slug: 'funnel-building-software',
              title: 'Funnel building software',
              highlighted: true
            }
          ],
          credibility: '76%'
        },
        {
          name: 'Sarah Busseti',
          photo: 'https://randomuser.me/api/portraits/women/63.jpg',
          position: 'Editor in Chief',
          title: 'Exposure – guest speaker, article',
          audienceAsValue: true,
          value: '60.000',
          tag: 'PRO',
          interests: [
            'Valuable content',
            'Product as a free gift'
          ],
          tags: [
            {
              slug: 'e-commerce',
              title: 'E-commerce',
              highlighted: true
            },
            {
              slug: 'digital-business',
              title: 'Digital business',
              highlighted: true
            },
            {
              slug: 'online-business',
              title: 'Online business',
              highlighted: true
            }
          ],
          credibility: '85%'
        },
        {
          name: 'Maria Tutti',
          photo: 'https://randomuser.me/api/portraits/women/57.jpg',
          position: 'Beauty Business Coach',
          title: 'Joint promotion',
          value: '3.000',
          tag: '',
          interests: [
            'Product as a free gift',
            'Joint promotions',
            'Exposure'
          ],
          tags: [
            {
              slug: 'beauty-business',
              title: 'Beauty business',
              highlighted: true
            },
            {
              slug: 'beauty-salons',
              title: 'Beauty salons',
              highlighted: true
            },
            {
              slug: 'health-and-beauty',
              title: 'Health & Beauty'
            },
            {
              slug: 'women-in-business',
              title: 'Women in business'
            },
            {
              slug: 'barbers',
              title: 'Barbers'
            }
          ],
          credibility: '61%'
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      loginLinkedIn: 'auth/loginLinkedIn'
    }),
    async getHomepageData () {
      try {
        const { data } = await $generalRepository.getHomepageData()
        if (data) {
          this.hero = data.firstHeader
          this.section = data.secondHeader
        }
      } catch (e) {
        console.log(e)
      }
    }
  },
  created () {
    this.getHomepageData()
  }
}
</script>
