<template>
  <div class="WPage bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="WBox" v-html="content" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Repositories from '@/repositories/repositoryFactory'
const $policyRepository = Repositories.get('general')

export default {
  name: 'PrivacyPolicy',
  data () {
    return {
      content: ''
    }
  },
  async created () {
    try {
      const { data } = await $policyRepository.getPrivacyPolicy()
      if (data) {
        this.content = data.content
      }
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
