<template>
  <div class="WPage">
    <div class="WBox WPage__header">
      <div class="WTitle WTitle--3">
        Balance: $115.50
      </div>
      <WButton
        size="medium"
        type="secondary"
      >
        Need invoice
      </WButton>
    </div>
    <div class="WBox">
      <div class="WBox__title">
        Payment
      </div>
      <div class="row align-stretch">
        <div class="col-xs-12 col-md-7">
          <div class="WTitle WTitle--1">
            Card details
          </div>
          <div class="row">
            <div class="col-xs-12">
              <WTextField
                v-model="cardNumber"
                placeholder="Card number"
              />
            </div>
            <div class="col-xs-12">
              <WTextField
                v-model="cardNumber"
                placeholder="Card holder name"
              />
            </div>
            <div class="col-xs-5">
              <WTextField
                v-model="cardNumber"
                placeholder="Expire date"
              />
            </div>
            <div class="col-xs-5 col-xs-offset-2">
              <WTextField
                v-model="cardNumber"
                placeholder="CCV"
              />
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-1 wallet-promo-code">
          <div>
            <div class="WTitle WTitle--1">
              Promo code
            </div>
            <WTextField
              v-model="promoCode"
              placeholder="Code nr"
            />
          </div>
          <WButton
            block
          >
            Pay
          </WButton>
        </div>
      </div>
    </div>
    <div class="WBox">
      <div class="WBox__title">
        Transactions
      </div>
      <WTable
        :headers="tableHeaders"
        :items="tableItems"
      />
    </div>
  </div>
</template>

<script>
import WTable from '@/components/ui/WTable'
import WButton from '@/components/ui/WButton'
import WTextField from '@/components/ui/WTextField'
export default {
  name: 'Wallet',
  components: {
    WButton,
    WTextField,
    WTable
  },
  data () {
    return {
      tableHeaders: [
        {
          title: 'Code',
          slug: 'code'
        },
        {
          title: 'Type',
          slug: 'type'
        },
        {
          title: 'Time',
          slug: 'time'
        },
        {
          title: 'Amount',
          slug: 'amount'
        }
      ],
      tableItems: [
        {
          code: 'Test name 1',
          type: 'Promo Code',
          time: '4/9.2020 6:02pm',
          amount: '$10.00'
        },
        {
          code: 'Test name 2',
          type: 'Promo Code #2',
          time: '3/11.2020 4:02pm',
          amount: '$15.00'
        },
        {
          code: 'Test name 3',
          type: 'Promo Code #3',
          time: '3/9.2020 6:52pm',
          amount: '$13.00'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .wallet-promo-code {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
  }
</style>
