<template>
  <div class="WPage bg-grey">
    <div class="container">
      <WWizard />
    </div>
  </div>
</template>

<script>
import WWizard from '@/components/WWizard/WWizard'
export default {
  name: 'Wizard',
  components: {
    WWizard
  }
}
</script>
