.WFooter {
  background: $color-blue-bg;
  padding: 44px 0 24px;
  &__title {
    font-style: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 14px;
  }
  &__bottom {
    margin-top: 50px;
    font-size: 12px;
  }
}