.WFooterNav {
  margin: 0;
  padding: 0;
  list-style: none;
  &__anchor {
    font-size: 14px;
    line-height: 23px;
    color: rgba($color-white, 0.58);
    text-decoration: none;
    &:hover {
      color: $color-white;
    }
  }
}