.WSidebarMenu {
  padding: 10px 0 20px 0;
  &__anchor {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 28px;
    text-decoration: none;
    font-size: 14px;
    color: #8B8B8B;
    font-family: $font-family-main;
    &.router-link-active {
      font-weight: 700;
      color: #191C1F;
    }
  }
  &__icon {
    flex-shrink: 0;
    margin-right: 15px;
    min-width: 29px;
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__text {
    line-height: 1;
  }
}