.WSidebarBottom {
  padding: 20px 31px 20px 28px;
  border-top: 1px solid #D1D1D1;
  text-align: center;
  &__title,
  &__text {
    text-align: left;
    font-size: 13px;
    line-height: 19px;
  }
  &__title {
    font-weight: 700;
    color: #3C4043;
  }
  &__text {
    color: #8B8B8B;
    margin: 12px 0;
  }
}