.WSidebarProfile {
  background: #136EAC;
  padding: 50px 20px 30px 20px;
  display: flex;
  align-items: center;
  &__avatar {
    position: relative;
  }
  &__credibility {
    position: absolute;
    top: -25px;
    left: -5px;
    z-index: 2;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.3px;
    font-weight: 700;
    color: $color-white;
    text-align: center;
    > div {
      font-size: 7px;
      font-family: $font-family-secondary;
      line-height: 1;
      letter-spacing: 0.12px;
      font-weight: 600;
    }
  }
  &__content {
    margin-left: 7px;
    .WTitle {
      margin: 0;
      font-family: $font-family-main;
    }
    .WSidebarProfile__title {
      color: #FFFFFF;
      margin: 0;
      margin-bottom: 2px;
    }
  }
  &__logo {
    margin-top: 12px;
  }
}