.WSidebarProfileAvatar {
  height: 81px;
  width: 81px;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #4AA1DD 50%, transparent 50%), linear-gradient(21deg, #4AA1DD 50%, $color-white 50%)
  }
  img {
    object-fit: cover;
    width: 71px;
    height: 71px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }
  &__tag {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #4AA1DD;
    border-radius: 100%;
    font-size: 10px;
    font-weight: 600;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: $color-white;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
}