<template>
  <footer class="WFooter text-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm">
          <WSocialList />
        </div>
        <div class="col-xs-6 col-sm">
          <div class="WFooter__title">
            Company
          </div>
          <WFooterNav
            :items="nav1"
          />
        </div>
        <div class="col-xs-6 col-sm">
          <div class="WFooter__title">
            Product
          </div>
          <WFooterNav
            :items="nav2"
          />
        </div>
        <div class="col-xs col-sm">
          <div class="WFooter__title">
            Resources
          </div>
          <WFooterNav
            :items="nav3"
          />
        </div>
        <div class="col-xs col-sm">
          <div class="WFooter__title">
            Info
          </div>
          <WFooterNav
            :items="nav4"
          />
        </div>
      </div>
      <div class="WFooter__bottom text-center">
        Copyright © 2021. All Rights Reserved
      </div>
    </div>
  </footer>
</template>

<script>
import WFooterNav from './WFooterNav'
import WSocialList from '@/components/ui/WSocialList'
export default {
  name: 'WFooter',
  data () {
    return {
      nav1: [
        {
          title: 'About Us',
          route: '/about-us'
        },
        {
          title: 'News',
          route: '/news'
        },
        {
          title: 'Contacts',
          route: '/contacts'
        }
      ],
      nav2: [
        {
          title: 'Features',
          route: '/features'
        },
        {
          title: 'Plans & Pricing',
          route: '/pricing'
        }
      ],
      nav3: [
        {
          title: 'Video Course',
          route: '/video-course'
        },
        {
          title: 'Case Studies',
          route: '/case-studies'
        },
        {
          title: 'Downloads',
          route: '/downloads'
        }
      ],
      nav4: [
        {
          title: 'Privacy Policy',
          route: '/privacy-policy'
        },
        {
          title: 'Terms of Service',
          route: '/terms-of-service'
        }
      ]
    }
  },
  components: {
    WFooterNav,
    WSocialList
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/layout/WFooter/WFooter';
</style>
