<template>
  <ul class="WFooterNav">
    <li
      v-for="(item, index) in items"
      :key="index"
      class="WFooterNav__item"
    >
      <router-link
        :to="item.route"
        class="WFooterNav__anchor"
      >
        {{ item.title }}
      </router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'WFooterNav',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/layout/WFooter/WFooterNav';
</style>
