.WWizardInput {
  display: flex;
  align-items: center;
  padding: 0 17px;
  &--full {
    .WWizardInput__input {
      max-width: 100%;
    }
  }
  &__input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    max-width: 100px;
    outline: none;
    padding: 0 8px;
    font-size: 12px;
    color: #3C3C3C;
    font-family: $font-family-main;
  }
  &__append {
    margin-left: 6px;
    font-size: 12px;
    color: #3C3C3C;
    min-width: 24px;
  }
}