.WWizardSlider {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 5px;
  }
  > * {
    flex: 1;
  }
  &__wrap {
    flex: 3;
  }
}

.WWizardContent__formTitle {
  font-weight: 700;
  font-size: 13px;
  color: #D1D1D1;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 6px;
  max-width: 150px;
  margin-bottom: 20px;
}