.WWizardTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -4px;
  margin-top: 60px;
  &__col {
    display: flex;
    padding: 4px;
  }
  &__tag {
    font-size: 13px;
    height: 26px;
    color: #3C3C3C;
    padding: 5px 12px;
    background: #EAEAEA;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.250s linear;
    &:hover {
      background: darken(#eaeaea, 5%);
    }
    &--active {
      background: #4AA1DD;
      color: $color-white;
      &:hover {
        background: darken(#4AA1DD, 5%);
      }
    }
  }
  &__checkbox {
    display: none;
  }
}