.WWizardTextfield {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 60px;
  &__input {
    border: 0;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    color: #000;
    font-size: 16px;
    &::placeholder {
      color: #D1D1D1;
      opacity: 1;
    }
    
    &:-ms-input-placeholder {
      color: #D1D1D1;
    }
    
    &::-ms-input-placeholder {
      color: #D1D1D1;
    }
  }
}