.WWizardStep {
  position: relative;
  background-color: $color-white;
  box-shadow: 0px 2px 3px #00000019;
  border-radius: $border-radius-medium;
  padding: 13px 20px;
  min-height: 110px;
  transition: opacity 0.250s linear;
  cursor: pointer;
  &:before {
    content: '';
    height: 32px;
    width: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 100%;
    top: 8px;
    display: block;
    background: $color-blue;
  }
  .WTags {
    margin-top: 15px;
  }
  &--active {
    border: 1px solid $color-blue;
  }
  &__subtitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #3C3C3C;
    margin-top: 15px;
  }
  &--disabled {
    opacity: 0.2;
    cursor: default;
  }
  & + & {
    margin-top: 8px;
  }
}