.WWizardContent {
  background-color: $color-white;
  height: 100%;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: $border-radius-medium;
  padding: 13px 20px;
  display: flex;
  flex-direction: column;
  .WWizardTags {
    justify-content: flex-start;
    margin-top: 0;
  }
  .WTextarea {
    margin-bottom: 23px;
  }
  &__main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
  }
  &__product {
    padding: 16px;
    background: #F0F0F0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  &__productName {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  &__title {
    font-family: $font-family-secondary;
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__step {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    &--full {
      max-width: 100%;
      padding: 0 14px;
    }
  }
  &__stepInner {
    width: 100%;
  }
  &__form {
    flex: 1px;
    width: 100%;
  }
  &__group {
    & + & {
      margin-top: 50px;
    }
  }
}