<template>
  <div class="WDemoOffer">
    <div class="WDemoOffer__header">
      <img
        v-if="offer.photo"
        :src="offer.photo"
        alt="Avatar"
        class="WDemoOffer__avatar"
      >
      <span
        v-if="offer.tag"
        class="WDemoOffer__tag"
      >
        {{ offer.tag }}
      </span>
    </div>
    <div
      v-if="offer.title"
      class="WDemoOffer__title"
    >
      {{ offer.title }}
    </div>
    <div
      v-if="offer.value"
      class="WDemoOffer__subtitle"
    >
      Total value up to:
    </div>
    <div
      v-if="offer.value"
      class="WDemoOffer__value"
    >
      {{ offer.value }}€
    </div>
  </div>
</template>

<script>
export default {
  name: 'WDemoOffer',
  props: {
    offer: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
  .WDemoOffer {
    background: $color-white;
    padding: 10px 14px;
    box-shadow: 0px 2px 3px #00000029;
    border-radius: 4px;
    & + & {
      margin-top: 10px;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__avatar {
      height: 44px;
      width: 44px;
      border-radius: 100%;
      object-fit: cover;
    }
    &__tag {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $font-family-secondary;
      line-height: 1;
    }
    &__title {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: #191C1F;
      margin-bottom: 6px;
    }
    &__subtitle {
      font-family: $font-family-secondary;
      font-size: 12px;
      line-height: 1;
      color: $color-grey-text;
      margin-bottom: 4px;
    }
    &__value {
      font-family: $font-family-secondary;
      font-size: 15px;
      font-weight: 400;
      line-height: 1;
      color: #3C3C3C;
    }
  }
</style>
