<template>
  <div class="WDemoOffers">
    <div class="WDemoOffers__top">
      <div class="WDemoOffers__title">
        Offers found
      </div>
      <div class="WDemoOffers__count">
        {{ offersCount }}
      </div>
    </div>
    <div class="WDemoOffers__body">
      <WDemoOffer
        v-for="(offer, index) in offers"
        :key="index"
        :offer="offer"
      />
    </div>
  </div>
</template>

<script>
import WDemoOffer from './WDemoOffer'
export default {
  name: 'WDemoOffers',
  props: {
    offers: {
      type: Array,
      default: () => []
    }
  },
  components: {
    WDemoOffer
  },
  computed: {
    offersCount () {
      return this.offers.length
    }
  }
}
</script>

<style lang="scss" scoped>
  .WDemoOffers {
    &__top {
      background: #4AA1DD;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $color-white;
      position: relative;
      height: 100px;
      margin-bottom: 20px;
      border-radius: 4px;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #4AA1DD;
        position: absolute;
        top: 100%;
      }
    }
    &__title {
      font-size: 13px;
      font-weight: 700;
      font-family: $font-family-secondary;
      line-height: 1;
    }
    &__count {
      font-size: 40px;
      line-height: 1;
      font-family: $font-family-secondary;
      font-weight: 700;
      margin-top: 10px;
    }
  }
</style>
