<template>
  <div id="app">
    <WLayout>
      <transition name="fade" mode="out-in" appear>
        <router-view />
      </transition>
    </WLayout>
  </div>
</template>

<script>
import WLayout from '@/layouts/WLayout'
export default {
  name: 'App',
  components: {
    WLayout
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
