<template>
  <div class="WLayout WLayout--dashboard">
    <WNavbar />
    <div class="WLayout__main">
      <div class="WLayout__sidebar">
        <WSidebar />
      </div>
      <div class="WLayout__content">
        <slot />
      </div>
    </div>
    <WFooter />
  </div>
</template>

<script>
import WNavbar from '@/components/layout/WNavbar'
import WFooter from '@/components/layout/WFooter/WFooter'
const WSidebar = () => import('@/components/WSidebar/WSidebar.vue')
export default {
  name: 'WLayoutDashboard',
  components: {
    WNavbar,
    WFooter,
    WSidebar
  }
}
</script>

<style lang="scss" scoped>
  .WLayout {
    &__main {
      display: flex;
      align-items: flex-start;
      background: #F0F0F0;
    }
    &__sidebar {
      flex-basis: 250px;
      max-width: 250px;
      flex-shrink: 0;
    }
    &__content {
      flex: 1;
      padding: 15px 11px;
    }
  }
</style>
