<template>
  <component :is="layout">
    <slot />
  </component>
</template>

<script>
const defaultLayout = 'WLayoutDefault'
export default {
  name: 'WLayout',
  components: {
    WLayoutDefault: () => import(/* webpackChunkName: "WLayoutDefault" */ './WLayoutDefault'),
    WLayoutDashboard: () => import(/* webpackChunkName: "WLayoutDashboard" */ './WLayoutDashboard')
  },
  computed: {
    layout () {
      const layout = this.$route.meta.layout || defaultLayout
      return layout
    }
  }
}
</script>
