<template>
  <div class="WLayout WLayout--default">
    <WNavbar />
    <slot />
    <WFooter />
  </div>
</template>

<script>
import WNavbar from '@/components/layout/WNavbar'
import WFooter from '@/components/layout/WFooter/WFooter'
export default {
  name: 'WLayoutDefault',
  components: {
    WNavbar,
    WFooter
  }
}
</script>
