.WTag {
  padding: 4px;
  &__inner {
    font-size: 13px;
    line-height: 24px;
    color: #939CA4;
    padding: 5px 12px;
    border: 1px solid #DADCE0;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
  }
  &:hover .WTag__inner {
    border-color: #939CA4;
  }
  &--highlighted:hover .WTag__inner {
    background: darken(#EBEBEB, 5%);
    border-color: darken(#EBEBEB, 5%);
  }
  &--highlighted .WTag__inner {
    background: #EBEBEB;
    border-color: #EBEBEB;
  }
  &--small .WTag__inner {
    font-size: 10px;
    padding: 4px 8px;
    border: 1px solid #BFBFBF;
    color: #3C3C3C;
  }
}