<template>
  <div class="WTags">
    <div class="WTags__tags">
      <WTag
        v-for="(tag, index) in items"
        :key="index"
        :title="tag.title"
        :route="`/tags/${tag.slug}`"
        :highlighted="tag.highlighted"
        :small="small"
        :no-route="noRoute"
      />
      <WTag
        v-if="!small"
        :title="'...'"
        :route="'/tags'"
      />
    </div>
  </div>
</template>

<script>
import WTag from './WTag'
export default {
  name: 'WTags',
  components: {
    WTag
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    small: {
      type: Boolean,
      default: false
    },
    noRoute: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WTags/WTags';
</style>
