<template>
  <div
    :class="[
      'WTag',
      { 'WTag--highlighted': highlighted },
      { 'WTag--small': small }
    ]"
  >
    <component
      :is="route && !noRoute ? 'router-link' : 'span'"
      :to="route && !noRoute ? route : null"
      class="WTag__inner"
    >
      {{ title }}
    </component>
  </div>
</template>

<script>
export default {
  name: 'WTag',
  props: {
    highlighted: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    noRoute: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    route: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WTags/WTag';
</style>
