<template>
  <div class="WAvatar">
    <img
      v-if="src"
      :src="src"
      :alt="alt"
      :height="`${size || '45px'}`"
      :width="`${size || '45px'}`"
    >
    <span
      v-else-if="title"
      :style="`height: ${size || '45px'};width:${size || '45px'}`"
    >
      {{ title.charAt(0) }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'WAvatar',
  props: {
    src: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: '45px'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WAvatar';
</style>
