<template>
  <component
    :is="route ? 'router-link' : 'button'"
    :to="route ? route : null"
    :class="buttonClass"
    :disabled="loading"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: 'WButton',
  props: {
    /**
     * Route for the button to use for router-link
    */
    route: {
      type: String,
      default: ''
    },
    /**
     * Button's type
    */
    type: {
      type: String,
      default: 'primary',
      validator: value => ['primary', 'secondary', 'white', 'success']
        .includes(value)
    },
    /**
     * Button's size
    */
    size: {
      type: String,
      default: 'medium',
      validator: value => ['small', 'medium', 'large']
        .includes(value)
    },
    /**
     * Button's outlined style
    */
    outlined: {
      type: Boolean,
      default: false
    },
    /**
     * Button's full-width block style
    */
    block: {
      type: Boolean,
      default: false
    },
    /**
     * Button's loading indicator
    */
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonClass () {
      return [
        'WButton',
        `WButton--${this.type}`,
        `WButton--${this.size}`,
        { 'WButton--loading': this.loading },
        { 'WButton--outlined': this.outlined },
        { 'WButton--block': this.block }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WButton';
</style>
