<template>
  <label class="WCheckbox">
    <input
      type="checkbox"
      class="WCheckbox__input"
      :checked="value"
      @change="$emit('input', $event.target.checked)"
    >
    <span class="WCheckbox__box" />
    <span class="WCheckbox__text">
      <slot />
    </span>
  </label>
</template>

<script>
export default {
  name: 'WCheckbox',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
  .WCheckbox {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 10px;
    }
    &__text {
      margin-left: 10px;
      font-size: 12px;
      color: #3C3C3C;
      line-height: 24px;
    }
    &__input {
      display: none;
      &:checked ~ .WCheckbox__box {
        background: $color-blue;
        border-color: $color-blue;
      }
    }
    &__box {
      border: 1px solid #BFBFBF;
      height: 18px;
      width: 18px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
</style>
