<template>
  <div
    @mouseenter="open = true"
    @mouseleave="open = false"
    :class="computedClass"
  >
    <div class="WDropdown__trigger">
      <slot name="trigger" />
    </div>
    <div
      v-if="open"
      class="WDropdown__content"
    >
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'WDropdown',
  props: {
    position: {
      type: String,
      default: 'right'
    }
  },
  data () {
    return {
      open: false
    }
  },
  computed: {
    computedClass () {
      return [
        'WDropdown',
        `WDropdown--${this.position}`
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .WDropdown {
    position: relative;
    &__content {
      position: absolute;
      top: 100%;
      background: #fff;
      z-index: 99999;
      border-bottom-right-radius: $border-radius-default;
      border-bottom-left-radius: $border-radius-default;
      padding: 12px;
      box-shadow: $box-shadow-default;
    }
    &--left {
      .WDropdown__content {
        left: 0;
      }
    }
    &--right {
      .WDropdown__content {
        right: 0;
      }
    }
  }
</style>
