<template>
  <div class="WFilter">
    <router-link
      :to="{
        query: {}
      }"
      class="WFilter__anchor"
    >
      All
    </router-link>
    <router-link
      v-for="(item, index) in items"
      :key="index"
      :to="{
        query: {
          filter: item.slug
        }
      }"
      class="WFilter__anchor"
    >
      {{ item.title }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'WFilter',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
  .WFilter {
    margin: 20px 0;
    padding: 0 25px;
    &__anchor {
      text-decoration: none;
      font-size: 14px;
      line-height: 1;
      color: #8B8B8B;
      padding: 0 16px;
      &.router-link-exact-active {
        font-weight: 700;
        color: #3C3C3C;
      }
      & + & {
        border-left: 1px solid #8B8B8B;
      }
    }
  }
</style>
