<template>
  <router-link
    to="/"
    exact
    class="WLogo"
  >
    <img
      src="@/assets/img/winwin.png"
      srcset="@/assets/img/winwin.png 1x, @/assets/img/winwin@2x.png 2x"
      alt="Winawin"
    >
  </router-link>
</template>

<script>
export default {
  name: 'WLogo'
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WLogo';
</style>
