<template>
  <div class="WSocialList">
    <a
      v-for="(item, index) in list"
      :key="index"
      :href="item.url"
      class="WSocialList__item"
    >
      <WIconBase>
        <component :is="item.icon" />
      </WIconBase>
    </a>
  </div>
</template>

<script>
import WIconBase from '@/components/icons/WIconBase'
const WIconLinkedIn = () => import('@/components/icons/WIconLinkedIn.vue')
const WIconTwitter = () => import('@/components/icons/WIconTwitter.vue')
export default {
  name: 'WSocialList',
  components: {
    WIconBase,
    WIconLinkedIn,
    WIconTwitter
  },
  data () {
    return {
      list: [
        {
          icon: 'WIconLinkedIn',
          url: 'https://linkedin.com'
        },
        {
          icon: 'WIconTwitter',
          url: 'https://twitter.com'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WSocialList';
</style>
