<template>
  <div class="WTable">
    <table class="WTable__table">
      <thead class="WTable__header">
        <tr
          class="WTable__row"
        >
          <th
            v-for="(item, index) in headers"
            :key="index"
            :data-label="item.title"
            class="WTable__headerCell"
          >
            {{ item.title }}
          </th>
        </tr>
      </thead>
      <tbody class="WTable__body">
        <tr
          v-for="(item, index) in items"
          :key="index"
          class="WTable__row"
        >
          <td
            v-for="(cell, index) in item"
            :key="index"
            class="WTable__cell"
          >
            {{ cell }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'WTable',
  props: {
    headers: {
      type: Array,
      default: () => []
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '@/assets/scss/components/ui/WTable';
</style>
