<template>
  <div class="WTextField">
    <div v-if="label" class="WTextField__label">
      {{ label }}
    </div>
    <input
      class="WTextField__input"
      :value="value"
      :placeholder="placeholder"
      type="text"
      @input="$emit('input', $event.target.value)"
    >
  </div>
</template>

<script>
export default {
  name: 'WTextField',
  props: {
    value: {
      type: [Number, String],
      default: ''
    },
    placeholder: {
      type: [Number, String],
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/ui/WTextField';
</style>
