<template>
  <div class="WTextarea">
    <textarea
      class="WTextarea__input"
      @change="$emit('input', $event.target.value)"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: 'WTextarea'
}
</script>

<style lang="scss" scoped>
  .WTextarea {
    &__input {
      resize: none;
      width: 100%;
      border: 1px solid #BFBFBF;
      border-radius: 6px;
      outline: none;
      padding: 12px;
    }
  }
</style>
