<template>
  <div class="WMainOfferProfile">
    <div class="WMainOfferProfile__avatar">
      <div
        v-if="credibility"
        class="WMainOfferProfile__credibility"
      >
        {{ credibility }}
        <div>
          credibility
        </div>
      </div>
      <WMainOfferAvatar
        v-if="photo"
        :src="photo"
      />
      <div
        v-if="tag"
        class="WMainOfferProfile__tag"
      >
        {{ tag }}
      </div>
    </div>
    <div class="WMainOfferProfile__content">
      <h2
        v-if="title"
        class="WTitle WTitle--4 WMainOfferProfile__title"
      >
        {{ title }}
      </h2>
      <h3
        v-if="subtitle"
        class="WTitle WTitle--4 text-grey text-regular"
      >
        {{ subtitle }}
      </h3>
      <div
        v-if="logo"
        class="WMainOfferProfile__logo"
      />
    </div>
  </div>
</template>

<script>
import WMainOfferAvatar from './WMainOfferAvatar'
export default {
  name: 'WMainOfferProfile',
  props: {
    credibility: {
      type: String,
      default: '90%'
    },
    photo: {
      type: String,
      default: ''
    },
    tag: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    logo: {
      type: String,
      default: ''
    }
  },
  components: {
    WMainOfferAvatar
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOfferProfile';
</style>
