<template functional>
  <div class="WMainOfferList">
    <div class="WMainOfferList__title">
      Looks for
    </div>
    <ul class="WMainOfferList__list">
      <li
        v-for="(item, index) in props.items"
        :key="index"
        class="WMainOfferList__item"
      >
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'WMainOfferList',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOfferList';
</style>
