<template>
  <div :class="['WMainOffer', { 'WMainOffer--matched': matched }, { 'WMainOffer--mirrored': mirrored }]">
    <div class="WMainOffer__part WMainOffer__part--left WMainOffer__profile">
      <WMainOfferProfile
        :credibility="offer.credibility"
        :photo="offer.photo"
        :tag="offer.tag"
        :title="offer.name"
        :subtitle="offer.position"
        :logo="offer.logo"
      />
    </div>
    <div class="WMainOffer__part WMainOffer__part--right">
      <div :class="[
        'WMainOffer__part',
        { 'WMainOffer__part--half': !matched }
      ]">
        <WMainOfferDescription
          :title="offer.title"
          :value="offer.value"
          :audience-as-value="offer.audienceAsValue"
        />
      </div>
      <div v-if="!matched" class="WMainOffer__part WMainOffer__part--half WMainOffer__part--padded">
        <WMainOfferList
          :items="offer.interests"
        />
      </div>
      <div v-if="!inner" class="WMainOffer__part WMainOffer__part--full">
        <div class="WMainOffer__tagsTitle">
          Matching tags
        </div>
        <WTags
          :items="offer.tags"
        />
      </div>
      <div v-if="!matched" class="WMainOffer__part WMainOffer__part--full end-xs">
        <WButton
          v-if="!inner"
          route="/wizard"
          size="small"
        >
          Unlock offer and discuss
        </WButton>
        <WButton
          v-if="inner"
          type="secondary"
        >
          Edit
        </WButton>
      </div>
    </div>
    <div v-if="offer.status" :class="['WMainOffer__status', {'WMainOffer__status--published': offer.status === 'Published'}]">
      {{ offer.status }}
    </div>
  </div>
</template>

<script>
import WMainOfferProfile from './WMainOfferProfile'
import WMainOfferList from './WMainOfferList'
import WMainOfferDescription from './WMainOfferDescription'
import WTags from '@/components/ui/WTags/WTags'
import WButton from '@/components/ui/WButton'
export default {
  name: 'WMainOffer',
  props: {
    offer: {
      type: Object,
      default: () => {}
    },
    matched: {
      type: Boolean,
      default: false
    },
    inner: {
      type: Boolean,
      default: false
    },
    mirrored: {
      type: Boolean,
      default: false
    }
  },
  components: {
    WMainOfferProfile,
    WMainOfferDescription,
    WMainOfferList,
    WButton,
    WTags
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOffer';
</style>
