<template functional>
  <div class="WMainOfferDescription">
    <div class="WMainOfferDescription__group">
      <div class="WMainOfferDescription__title">
        Can provide
      </div>
      <div class="WMainOfferDescription__text">
        {{ props.title }}
      </div>
    </div>
    <div class="WMainOfferDescription__group">
      <div class="WMainOfferDescription__title">
        {{ props.audienceAsValue ? 'Total audience up to' : 'Total value up to' }}
      </div>
      <div class="WMainOfferDescription__text">
        {{ props.value }}<span v-if="!props.audienceAsValue">€</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WMainOfferDescription'
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOfferDescription';
</style>
