<template functional>
  <div class="WMainOfferAvatar">
    <img
      :src="props.src"
      :alt="props.alt"
      loading="lazy"
      height="94px"
      width="94px"
    >
  </div>
</template>

<script>
export default {
  name: 'WMainOfferAvatar'
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOfferAvatar';
</style>
