<template>
  <div class="WMainOffers">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <h2 class="WTitle WTitle--3">
          Latest Offers
        </h2>
          <WMainOffer
            v-for="(offer, index) in offers"
            :key="index"
            :offer="offer"
          />
        </div>
        <!-- <div class="xs-hidden col-sm-12 col-md-4">
          * SIDEBAR *
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import WMainOffer from '@/components/WMainOffer/WMainOffer'
export default {
  name: 'WMainOffers',
  props: {
    offers: {
      type: Array,
      default: () => []
    }
  },
  components: {
    WMainOffer
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/components/WMainOffer/WMainOffers';
</style>
